<!DOCTYPE html>
<html>
<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Boolog</title>
  <link rel="styleshet" type="text/css" href="style.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>


</head>
<body>
  <header class="header">
  <nav class="amber lighten-3">
    <div class="nav-wrapper">
      <a href="/contents" class="brand-logo center">ODAI</a>
      <ul id="nav-mobile" class="left med-and-down">
        <% if user_signed_in? %>
        <li><%= link_to "SignOut", destroy_user_session_path, method: :delete %></li>
        <li><a class="post" href="/contents/new">New</a></li>
        <% else %>
        <li><%= link_to "SignIn", new_user_session_path, class: 'post' %></li>
        <li><%= link_to "SignUp", new_user_registration_path, class: 'post' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<%= yield %>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red hoverable" href="contents/show">
    <i class="large material-icons">create</i>
  </a>
</div>

</body>
</html>
